<!-- book appointment done here---------------------------------------------------------------------------------- -->
<div class="container jumbotron col-md-6 ">
    <form class="container" style="padding-left:20%;" ng-submit="main.book()" style="border-radius:2px;border-color:brown;">
        <div class="panel-heading">
            <div>
                <h3 class="title">Book an Appointement</h3>
                <br>
            </div>
            <div class="form-group row">
                <div class="col-10">
                    <label>Name:</label>
                    <input required ng-model="main.userName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-10">
                    <label>Email:</label>
                    <input required ng-model="main.email" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-10">
                    <label>Phone number-:</label>
                    <input required ng-model="main.phone" class="form-control" type="number" ng-model="main.phone">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-10">
                <label>Treatment:</label>
                <select class="custom-select" ng-model="main.treatment" required>
                    <option ng-repeat="treat in  main.treatments" value="{{treat.title}}">{{treat.title}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-10">
                <label>Date :</label>
                <br>
                <input required class="form-control" type="date" value="2018-08-19" ng-model="main.date">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-10">
                <label>Time Slot:</label>
                <select class="custom-select" ng-model="main.time" required>
                    <option ng-repeat="time in  main.slots" value="{{time.title}}">{{time.title}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Add Your Notes:</label>
            <textarea class="form-control" rows="3" ng-model="main.note"></textarea>
        </div>

        <div class="form-group row ">
            <div class="col-10">
                <button type="submit" class="btn btn-primary form-control">Book</button>
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-10">
                <button type="reset" class="btn btn-danger form-control">Clear</button>
            </div>
        </div>
    </form>
</div>
<!-- D(--)A -->