<!-- navbar for the views -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" ui-sref="main">Book Appointment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="view">View Books</a>
        </li>
    </ul>
</nav>
<!-- D(--)A -->