<!-- view records page --------------------------------------------------------------------------------- -->
<div class="container">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="view.searchText">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<br>
<!-- start table -----(--) -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID </th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Time</th>
            <th scope="col">Treatment</th>
            <th scope="col">Details</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in view.books  | filter:view.searchText track by $index">
            <th>{{book.id}}</th>
            <th>{{book.name}}</th>
            <th>{{book.email}}</th>
            <td>{{book.mobile}}</td>
            <td>{{book.time}}</td>
            <td>{{book.treatment}}</td>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal" ng-click="view.Index($index)">Details</button>
            </td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal" ng-click="view.Index($index)">
                Delete </button>
            </td>
            <td>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal" ng-click="view.Index($index)">Edit</button>
            </td>

        </tr>
    </tbody>
</table>

<!-- Details  modal ))))))))))))((((((((((((-->
<div class="modal fade" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{view.x.name}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Phone : {{view.x.mobile}}
                <br> Time : {{view.x.time}}
                <br> E-mail : {{view.x.email}}
                <br> Treatment : {{view.x.treatment}}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Edit modal _____(--)(--)(--)(--) -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{view.x.name}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Phone :
                <input type="text" class="form-control" disabled placeholder=" {{view.x.mobile}}" ng-value="{{view.x.mobile}}"></input>
                <br>
                <label>Time Slot:</label>
                <select class="custom-select" ng-model="view.x.time" required>
                    <option ng-repeat="time in  view.slots" value="{{time.title}}">{{time.title}}</option>
                </select>
                E-mail :
                <input type="text" class="form-control" disabled placeholder=" {{view.x.email}} " value="{{view.x.email}} "></input>
                <br> Note :
                <input type="text" class="form-control" placeholder=" {{view.x.note}} " value="{{view.x.note}} " ng-model="view.x.note"></input>
                <br>
                <label>Treatment:</label>
                <select class="custom-select" ng-model="view.x.treatment" required>
                    <option ng-repeat="treat in  view.treatments" value="{{treat.title}}">{{treat.title}}</option>
                </select>
            </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="view.Save()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- Delete  modal ))))))))))))((((((((((((-->
     <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Do you want to Delete Appointment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="view.delete(view.x)">confirm Delete</button>

                </div>

            </div>
        </div>
    </div> 
    <!-- D(--)A -->